.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  width: 100%;
}

.nav li {
  //display: inline;
  display: none;
}

.nav a {
  font-size: 13px;
}